.player {
	bottom: 56px;
	left: 0;
	margin: 0;
	overflow: hidden;
	z-index: 1;
	position: fixed;
	width: auto;
	height: auto;
	background: #fff;
	padding: 5px;
	margin-right: 18px;
	margin-left: 18px;
	color: #000;
}


.range{
	width: 100%;
	margin: 0;
	height: 1em;
}

.cover{
	width: 40%;
	margin: auto;
}